* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
}

.cal {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid rgb(94, 155, 198);
    border-radius: 2rem;
    width: 31vw;
    margin-left: 37vw;
}

hr {
    width: 30vw;
    border: solid rgb(94, 155, 198);
    border-radius: 2rem;
}

.screen-data {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
}

.screen {
    /* width: 100%;
    height: 10vh; */
    margin: 1rem;
    padding: 2rem;
    background-color: white;
    border-radius: 2rem;
    height: 15vh;
    width: 27vw;
}

#answer {
    text-align: right;
    color: red;
}

.keypad {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 30vw;
    justify-content: center;
}

.fnct {
    height: 5rem;
    width: 20vw;
}

.fnct button {
    width: 6vw;
    height: 100%;
    margin: .2rem;
    background-color: rgb(250, 249, 252);
    color: black;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    border-radius: 10rem;
}

.num {
    width: 20vw;
    display: flex;
    flex-wrap: wrap-reverse;
}

.num button {
    width: 6vw;
    height: 5rem;
    margin: .28rem;
    background-color: rgb(103, 106, 106);
    color: white;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    border-radius: 10rem;
}

.zero button {
    width: 12.68vw;
    background-color: rgb(103, 106, 106);
    font-size: 1.5rem;
    font-weight: bolder;
}

.side-keys {
    display: flex;
    flex-direction: column;
}

.arithmetics {
    width: 6vw;
    display: flex;
    flex-direction: column;
}

.arithmetics button {
    height: 5rem;
    margin: .2rem;
    background-color: rgb(255, 155, 0);
    color: white;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    border-radius: 100rem;
}